@font-face {
    font-family: "Aboreto";
    src: url('/assets/fonts/Aboreto/Aboreto-Regular.ttf');
}

a.mr-custom-button {
    div {
        span {
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            // font-family: 'Aboreto';
            font-size: 2em;
        }

        position: relative;
    }   
}

.mr-banner-container {
    margin-bottom: 10px;
}